<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** 

* Ignacio Maximiliano Jimenez Ramirez 
* Alan Jose Maldonado Garcia


**Fecha:** 07 / 09 / 2023

**Expediente** : 

* 725502
* 732884


**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/Maxcode99/TareaConjunta_Jimenez_Maldonado.git

# Tarea X: Clase X

In [2]:
#Librerias 
import numpy as np

Use filter to eliminate all words that are shorter than 4 letters from a list of words list='the notion of a lambda function goes all the way back to the origin of computer science'

In [15]:
import numpy as np

In [16]:
########### Solución
texto='the notion of a lambda function goes all the way back to the \
        origin of computer science'

In [6]:
palabras = texto.split()

palabras_nuevas = list(filter(lambda x: len(x) >= 4, palabras))
print(palabras_nuevas)

2. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [17]:
########### Solución 
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
#temperatures

array([ 35.97387961,  99.13294268,  92.6178302 ,  99.69549478,
        63.21119535,  73.90387697,  95.50028838,  99.21476553,
        36.98251238, 101.45813729, 100.5917418 ,  89.38159435,
        89.52156589,  83.8084752 ,  28.37990868,  68.75395211,
        45.86132067,  36.58307493,  56.32208365,  33.96219302,
        45.29071318,  74.86289938,  66.51091383,  88.19316186,
        94.26635864,  46.83131624, 109.60744472, 109.68427993,
        44.55796499,  92.84146259])

In [18]:
# Solucionarlo usando la función filter
mayores_32 = list(filter(lambda x: x >= 32, temperatures))
menores_80 = list(filter(lambda x: x <= 80, mayores_32))
print(menores_80)
porcentaje = len(menores_80)/len(temperatures)
print('El porcentaje es:', porcentaje*100)


# Solucionarlo usando filtro de vectores
def resultado(lista):
    x= list(filter(lambda x: x >= 32, lista))
    y= list(filter(lambda x: x <= 80, x))
    pcnt =(len(y)/len(lista))*100 
    return y,pcnt

result=resultado(temperatures)
print(result)

([35.97387961379455, 63.211195349983264, 73.90387696517755, 36.982512376595906, 68.75395211338406, 45.86132066984196, 36.58307493022292, 56.322083650154724, 33.9621930206693, 45.29071317816652, 74.86289938282341, 66.51091382521807, 46.831316244170544, 44.55796498523391], 46.666666666666664)

3. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations

> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [19]:
########### Solución 5
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

In [20]:
# Solución

4. Find all of the numbers from 1-1000 that are divisible by 7

In [26]:
# Lista de números
number = np.arange(1,1001)

# Resultado usando for tradicional 
div_7 = []
for numeros in number:
    if numeros % 7 == 0:
        div_7.append(numeros)

div_7


# Resultado usando compresión de listas

com_7 = [numero for numero in number if (lambda x: x % 7 == 0)(numero)]
com_7
# Resultado usando la función filter
fil_7 = list(filter(lambda x: x % 7 == 0, number)) 
fil_7

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

5. Find all of the numbers from 1-1000 that have a 3 in them

In [34]:
# Lista de números
number = np.arange(1,1001)

# Resultado usando for tradicional 
have_3 = [] 
for numeros in number:
    if '3' in str(numeros):
        have_3.append(numeros)

have_3
# Resultado usando compresión de listas
com_3 = [numero for numero in number if '3' in str(numero)]
com_3
# Resultado usando la función filter


fil_3 = list(filter(lambda x: if '3' in str(numero), number))
fil_3

fil_3 = list(filter(lambda numero: '3' in str(numero) , number))
fil_3

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

6. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

In [23]:
########### Solución
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

In [24]:
### Forma alternativa

In [25]:
# Creando una función que incremente en 10 euros si el pedido es menor a 100

7. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de orden, cantidad total de pedido). Nuevamente, tenga en cuenta que si el pedido debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.  Utilice la función `Reduce`.

In [26]:
########### Solución
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]